/* ================= ROOT ================= */
.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: linear-gradient(to bottom right, #f0fdfa, #ecfeff);
}

/* ================= TOP BAR ================= */
.top-bar {
    -fx-background-color: white;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 8, 0, 0, 2);
}

/* PRODUCT CARD */
.product-card {
    -fx-background-color: #ffffff;
    -fx-padding: 20;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10,0,0,5);
}

/* TITLE & PRICE */
.product-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.product-price {
    -fx-font-size: 16px;
    -fx-fill: #333333;
}

.product-stock {
    -fx-font-size: 14px;
    -fx-fill: #555555;
}

/* BUTTONS */
.btn-t {
    -fx-background-color: #1a8917;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}
.btn-t:hover {
    -fx-background-color: #0f766e;
    -fx-text-fill: #f0fdfa;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(15,118,110,0.6), 18, 0, 0, 6);
}

.btn-back {
    -fx-background-color: #e5e7eb;
    -fx-text-fill: #111111;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

/* ERROR MESSAGE */
.error-msg {
    -fx-font-size: 12px;
    -fx-fill: red;
}
