/* ===== Global ===== */
.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: linear-gradient(to bottom right, #f0fdfa, #ecfeff);
}

/* ===== Top Bar ===== */
.top-bar {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 4);
    -fx-padding: 10;
}

/* ===== App Title ===== */
.app-title {
    -fx-fill: #0f766e;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

/* ===== Search Bar ===== */
.search-bar {
    -fx-background-radius: 20;
    -fx-padding: 5 10;
    -fx-border-radius: 20;
    -fx-border-color: #14b8a6;
    -fx-border-width: 1;
    -fx-alignment: center;
    -fx-pref-width: 400;
}

/* ===== Menu Button ===== */
.menu-btn {
    -fx-background-radius: 30;
    -fx-background-color: #14b8a6;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.menu-btn:hover {
    -fx-background-color: #0f766e;
}

/* ===== Center Welcome Text ===== */
.welcome-title {
    -fx-fill: #134e4a;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}
