/* ================= ROOT ================= */
.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: linear-gradient(to bottom right, #f0fdfa, #ecfeff);
}

/* ================= TOP BAR ================= */
.top-bar {
    -fx-background-color: white;
    -fx-padding: 12 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 12, 0, 0, 4);
}

/* ================= APP TITLE ================= */
.app-title {
    -fx-fill: #0f766e;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

/* ================= SEARCH BAR ================= */
.search-bar {
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: #14b8a6;
    -fx-border-width: 1.5;
    -fx-padding: 8 14;
    -fx-pref-width: 340;
}

/* ================= MENU BUTTON ================= */
.menu-btn {
    -fx-background-radius: 50;
    -fx-background-color: #14b8a6;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.menu-btn:hover {
    -fx-background-color: #0f766e;
}

/* ================= SCROLL ================= */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

/* ================= WELCOME ================= */
.welcome-title {
    -fx-fill: #134e4a;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.welcome-desc {
    -fx-fill: #475569;
    -fx-font-size: 14px;
}

/* ================= PRODUCT CARD ================= */
.product-card {
    -fx-background-color: white;
    -fx-padding: 14;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-border-color: #e5e7eb;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 10, 0, 0, 4);
    -fx-cursor: hand;
}

.product-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(20, 184, 166, 0.35), 16, 0, 0, 6);
}

/* ================= PRODUCT TEXT ================= */
.product-title {
    -fx-fill: #134e4a;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.product-price {
    -fx-fill: #0f766e;
    -fx-font-size: 14px;
}

.product-stock {
    -fx-fill: #64748b;
    -fx-font-size: 13px;
}

/* ================= FOOTER / TIWTIW ================= */
.tiwtiw {
    -fx-background-image: url("../../../../images/pharmacie.png");
    -fx-background-size: 100% auto;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    /* التحكم فاللو */
    -fx-min-height: 500px;
    -fx-pref-height: 500px;
    -fx-alignment: center;
    -fx-padding: 40;
}

.app-title-footer {
    -fx-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.footer-advantages {
    -fx-fill: white;
    -fx-font-size: 16px;
    -fx-line-spacing: 4;
}